<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>LogoTrimmer</string>
  <key>CFBundleName</key>
  <string>LogoTrimmer</string>
  <key>CFBundleIdentifier</key>
  <string>com.local.logotrimmer</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>CFBundleShortVersionString</key>
  <string>1.0</string>
  <key>CFBundleExecutable</key>
  <string>LogoTrimmer</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleIconFile</key>
  <string>logo-trimmer</string>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
